{% extends 'layouts/base.html' %}

{% block content %}

    <div class="container-fluid mt-2">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Title</th>
                <th>Page count</th>
                <th>Author</th>
                <th>Category</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.page_count|default:'-' }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.category.title }}</td>
                    <td>{{ book.created_at|date:'d M Y H:i' }}</td>
                    <td>{{ book.updated_at|date:'d M Y H:i' }}</td>
                    <td class="text-center">
                        <a href="">
                            <i class="fa fa-pen text-warning mr-4"></i>
                        </a>
                        <a onclick="return confirm('You sure ?')" href="">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
















